[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=PhyPi Demo
Comment=PhyPi Configuration
Icon=/home/pi/git/PhyPiDAQ/images/PhiPi_icon.png
Exec=lxterminal -t "PhyPiDAQ Demo" -e /home/pi/git/PhyPiDAQ/phypi.py /home/pi/git/PhyPiDAQ/PhyPiDemo.daq
Terminal=false

